@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto',sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.navbar-nav{
  margin-right: 10%;
}
.nav-item{
  width: 100%;
  margin-right: 15%;
  font-size: 20px;
}

.nav-item a:hover {
background-color:#E3C4A8 ;

}

.cart-button {
  left: 0;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  background: none;
  border: none;
  cursor: pointer;
}

.cart-icon {
  width: 30px;
  height: 30px;
}